<tr>  <td><%= biosensor.biosensor %></td>
	  <td><%= biosensor.sensor_type.name %></td> 
	  
	  <td><%= biosensor.purpose_of_imaging.name %></td>
	  <td><%= biosensor.lab_name.name %></td>
	  <td><%= biosensor.score %></td>
</tr>
